<div class="container">
  <header>
    <h2>{{ user!.nombre }}, {{ user!.apellidos }}</h2>
  </header>
  <section>
    <div class="chip-container">
      <span><b>Idiomas:</b></span>
      @for (lang of user!.idiomas.slice(0, 3); track lang) {
        <span class="chip">{{ lang }}</span>
      }
      @if (user!.idiomas.length > 3) { <span class="chip">...</span> }
    </div>
    <div class="chip-container">
      <span><b>Habilidades técnicas:</b></span>
      @for (skill of user!.habilidadesTecnicas.slice(0, 3); track skill) {
        <span class="chip">{{ skill }}</span>
      }
      @if (user!.habilidadesTecnicas.length > 3) { <span class="chip">...</span> }
    </div>
    <p><b>Escolaridad:</b> {{ user!.escolaridad }}</p>
    <p><b>Edad:</b> {{ user!.edad }} años</p>
    <p><b>Género:</b> {{ user!.genero ? "Masculino" : "Femenino" }}</p>
  </section>
</div>
