<div class="pager-container">
	<p class="page" (click)="onClick(pager!.page)"><</p>
	<div class="pages">
		<p class="page" (click)="onClick(1)">1</p>
		<p>...</p>
		<p class="page" (click)="onClick(pager!.page - 1)">{{ pager!.page }}</p>
		<input type="number" (keydown.enter)="onEnterKey($event)" value="{{ pager!.page + 1 }}">
		<p class="page" (click)="onClick(pager!.page + 2)">{{ pager!.page + 2 }}</p>
		<p>...</p>
		<p class="page" (click)="onClick(pager!.totalPages)">{{ pager!.totalPages }}</p>
	</div>
	<p class="page" (click)="onClick(pager!.page + 2)">></p>
</div>
