<div class="pager-container">
	<div class="pages">
		<p class="page" (click)="onClick(pager!.page - 1)" [ngClass]="!leftAvailable ? 'hidden' : ''"><</p>
		<p class="page" (click)="onClick(1)" [ngClass]="!leftAvailable ? 'hidden' : ''">1</p>
		<p [ngClass]="!leftAvailable ? 'hidden' : ''">...</p>
		<p class="page" (click)="onClick(pager!.page - 1)" [ngClass]="!leftAvailable ? 'hidden' : ''">{{ pager!.page - 1}}</p>
		<input type="number" (keydown.enter)="onEnterKey($event)" value="{{ pager!.page }}">
		<p class="page" (click)="onClick(pager!.page + 1)" [ngClass]="!rightAvailable ? 'hidden' : ''">{{ pager!.page + 1 }}</p>
		<p [ngClass]="!rightAvailable ? 'hidden' : ''">...</p>
		<p class="page" (click)="onClick(pager!.totalPages)" [ngClass]="!rightAvailable ? 'hidden' : ''">{{ pager!.totalPages }}</p>
		<p class="page" (click)="onClick(pager!.page + 1)" [ngClass]="!rightAvailable ? 'hidden' : ''" [ngClass]="!rightAvailable ? 'hidden' : ''">></p>
	</div>
</div>
