<main>
  <section class="vacancy-list">
    @for (vacancy of vacancies; track vacancy) {

    <div (click)="onClick(vacancy)" class="container">
      <header>
        <h2 id="nombreVacante">{{ vacancy!.nombreVacante }}</h2>
        <p>{{ vacancy!.nombreEmpresa }}</p>
        <p>{{ vacancy!.modalidad }}</p>
      </header>
      <section>
        <div class="chip-container">
          <span class="chip">
            ${{ vacancy!.salarioMin }} a ${{ vacancy!.salarioMax }}
            {{ vacancy!.tipoSueldo }} ({{ vacancy!.periodoPago }})
          </span>
          <span class="chip">{{ vacancy!.tipoEmpleo }}</span>
          <span class="chip">{{ vacancy!.horario }}</span>
        </div>
      </section>
      <section>
        <ul>
          <li>
            {{ vacancy.descripcion }}
          </li>
        </ul>
      </section>
    </div>
    }
  </section>
  <section class="vacancy-detail">
    <app-vacancy-detail [vacancy]="selected"></app-vacancy-detail>
  </section>
</main>
